<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>
  <div id="content">
    <h1>Matt The Creator</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin dictum leo, at aliquet lectus fermentum malesuada. Vivamus interdum vestibulum justo, sit amet ullamcorper urna tempor quis. Etiam pretium mi ac tempor aliquam. Aenean aliquam nisl at velit efficitur elementum. Maecenas nec nunc varius, aliquam nisi vitae, aliquam lorem. Pellentesque porta lacus ut velit facilisis ultricies. Donec vel viverra neque. Aenean tempor ultrices lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed ut nunc erat. Maecenas id sodales mi. Cras vulputate nisl vel elit aliquam tempus. Aliquam ut pulvinar odio. Duis vel ex non magna egestas convallis id in augue. Vestibulum elit enim, tincidunt sed enim quis, posuere porttitor felis. Pellentesque ultrices magna felis, ut viverra neque malesuada eu.

Nunc volutpat nec justo a bibendum. Mauris eu vulputate orci. Vestibulum nisi sem, efficitur ac ante ut, suscipit egestas neque. Ut vitae ornare est, at accumsan elit. Aenean eu libero nec dolor aliquam dictum blandit et leo. Mauris turpis arcu, tincidunt id arcu ut, aliquet egestas urna. Suspendisse dignissim suscipit tincidunt. Vestibulum eleifend nisi pulvinar eros semper imperdiet. Phasellus ac placerat nisl. Mauris at fringilla ligula. In hac habitasse platea dictumst. Phasellus consectetur ex et porta egestas.

Nullam lobortis ac dui nec aliquam. Cras malesuada libero vel vestibulum dignissim. Integer porta, eros ac dignissim commodo, ex elit placerat nibh, vitae rhoncus libero tellus eu ex. Donec dapibus nulla vel lacinia interdum. Vivamus eu ultricies sapien, sit amet facilisis risus. Donec ullamcorper augue ut risus semper imperdiet at quis ligula. Nulla id purus ligula.

</p>
  </div>
</div>
